<div class="mensajes_container">
<h1 class="mensajes__titulo">MENSAJES</h1>

<div class="container mensajes" *ngIf="mensajesRecibidos.length > 0">
    
        <mat-tab-group > 
                <mat-tab  label = "Recibidos" > 
                    <div class="mensajes__item" *ngFor="let mensaje of mensajesRecibidos"> 
                        <h4>De: {{ mensaje.remitente }}</h4>
                        <h4>Asunto: {{ mensaje.asunto }}</h4>
                        <p>Mensaje: {{ mensaje.mensaje }}</p>
                    </div> 
                </mat-tab > 
                <mat-tab  label = "Enviados" >
                    <div class="mensajes__item" *ngFor="let mensaje of mensajesEnviados"> 
                        <h4>Para: {{ mensaje.destinatario }}</h4>
                        <h4>Asunto: {{ mensaje.asunto }}</h4>
                        <p>Mensaje: {{ mensaje.mensaje }}</p>
                    </div> 
                </mat-tab > 
                <mat-tab  label = "Nuevo Mensaje" >
                    <div class="mensajes__nuevo" >
                        <mat-form-field appearance="fill">
                            <mat-label>Destinatario</mat-label>
                            <mat-select [(value)]="selected">
                              <mat-option>None</mat-option>
                              <mat-option value="option1">Option 1</mat-option>
                              <mat-option value="option2">Option 2</mat-option>
                              <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                          </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Asunto</mat-label>
                            <input matInput>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Mensaje</mat-label>
                            <textarea matInput></textarea>
                          </mat-form-field>
                    </div>

                </mat-tab>
                
        </mat-tab-group >
    </div>
    
</div>