
.mensajes{

    margin: 0px 40px 0px 40px;
    
    &__container{
        width: 60%;
        height: 90%;
    }
    &__titulo{
        text-align: center;
        padding: 20px;
    }
    &__item{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nuevo{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 80%;
        padding-top: 30px;
        &--container{
            display: flex;
            width: 100%;
            justify-content: center;
        }
    
    }
    &__msj{
        padding-top: 10px;
    }
}

button{ 
    background-color: #212529;
    color: #fff;
    height: 80%
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}