
.mensajes{
    max-width: 80%;
    border: 1px solid;
    border-bottom: 0;
    margin-bottom: 40px;

    &__container{

    }
    &__titulo{
        text-align: center;
        padding: 20px;
    }
    &__item{
        border-bottom: 1px solid;
        padding: 10px;
    }
    &__nuevo{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        border-bottom: 1px solid;

    }
}